.katex {
  font-size: 30px;
}

#basic-robert {
  margin-top: 50px;
}

#basic-robert p {
  margin-top: 20px;
  font-size: 16px;
}

#basic-robert table {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 0px;
}

#basic-robert table,
#basic-robert small {
  margin-left: auto;
  margin-right: auto;
}

#basic-robert .remove-bg {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #fff;
}

#basic-robert table,
#basic-robert th,
#basic-robert td {
  border: 2px solid rgba(88, 90, 92, 0.75);
}

hr {
  border: 2px solid #2c3e50;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* HIDE RADIO */
.hidden-radio [type='radio'] {
  display: flex;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.hidden-radio [type='radio'] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
.hidden-radio [type='radio']:checked + img {
  border: 2px solid #e74c3c;
}

#main .robert-process {
  display: none;
}

#main .choose-image {
  width: 220px;
  height: 50px;
}

#main .input-group {
  width: 400px;
}

#main .process {
  width: 200px;
  height: 50px;
}

#main table,
#main th,
#main td {
  border: 2px solid rgba(180, 188, 194, 0.75);
}

#main .current-process {
  width: 500px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #3498db;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main .current-process span {
  color: #fff;
}

#main i {
  font-size: 50px;
}

#main .result img {
  width: 400px;
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
  #main .current-process {
    width: 300px;
  }
}

@media only screen and (max-width: 769px) {
  .katex {
    font-size: 25px;
  }

  #main .current-process {
    width: 250px;
  }
}

@media only screen and (max-width: 576px) {
  .katex {
    font-size: 20px;
  }

  #main .current-process {
    width: 220px;
  }
}
