.remove-border {
  border-bottom: none;
}

.swiper-pagination-bullet {
  background-color: #aaaaaa;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

/* Hero */
#hero {
  margin-top: 200px;
}

#hero h3 span {
  color: #fff;
}

#hero p {
  width: 550px;
  margin-top: 70px;
}

#hero a {
  margin-top: 30px;
}

#hero img {
  border: 2px solid #95a5a6;
  width: 500px;
  padding: 9px;
  transition: 0.7s;
}

#hero img:hover {
  border: 2px solid #fff;
  transition: 0.7s;
}

/* Materi Dasar */
#basic-learning {
  margin-top: 320px;
}

#basic-learning .row h2 {
  font-family: 'JetBrains Mono', sans-serif;
}

/* Process Result */
#process-result {
  margin-top: 200px;
}

#process-result p {
  width: 900px;
}

#process-result .project {
  overflow: hidden;
  position: relative;
}

#process-result .project .overlay {
  padding: 32px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  transform: translateY(60px);
}

#process-result .overlay a {
  color: #fff;
  text-decoration: none;
}

#process-result .border-custom {
  border: 2px solid #95a5a6;
  padding: 3px;
  transition: 0.7s;
}

#process-result .border-custom:hover {
  border: 2px solid #fff;
  transition: 0.7s;
}

#process-result .project:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

/* About */
#about {
  margin-top: 50px;
}

@media only screen and (max-width: 1200px) {
  /* Hero */
  #hero p {
    width: 400px;
  }
}

@media only screen and (max-width: 992px) {
  /* Hero */
  #hero {
    margin-top: 0;
  }

  #hero h3 {
    margin-top: 20px;
  }
  #hero p {
    width: 100%;
    margin-top: 0;
  }

  #hero a {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 769px) {
}

@media only screen and (max-width: 576px) {
  /* Materi Dasar */
  #materi-dasar {
    margin-top: 150px;
  }
}
