.robert-section {
  padding-top: 50px;
  .katex {
    font-size: 1.6rem;
  }
  .robert-table {
    margin-top: 40px;
    table {
      tbody {
        td {
          width: 100px;
        }
        tr {
          .rm-top-border {
            border-top: 1px solid transparent;
          }
          .rm-left-border {
            border-left: 1px solid transparent;
          }
          .rm-bottom-border {
            border-bottom: 1px solid transparent;
          }
          .rm-right-border {
            border-right: 1px solid transparent;
          }
        }
      }
    }
  }
  /* HIDE RADIO */
  .hidden-radio [type='radio'] {
    display: flex;
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* IMAGE STYLES */
  .hidden-radio [type='radio'] + img {
    cursor: pointer;
  }

  /* CHECKED STYLES */
  .hidden-radio [type='radio']:checked + img {
    border: 2px solid #e74c3c;
  }

  .divider {
    height: 2px;
    width: 100%;
    background-color: #2c3e50;
  }

  .input-group {
    width: 400px;
  }

  .robert-result {
    cursor: pointer;
  }

  .modal-content {
    background-color: #2c3e50;
  }

  .current-process {
    .current-process-title {
      font-size: 1.8rem;
      margin-bottom: 20px;
    }
  }

  .animation-button {
    svg {
      color: #b4bcc2;
      cursor: pointer;
      transition: 0.4s;
    }
    svg:hover {
      color: #fff;
      transition: 0.4s;
    }
  }
}

@media screen and (max-width: 576px) {
  .robert-section {
    .animation-button {
      svg {
        height: 70px;
        color: #b4bcc2;
        cursor: pointer;
        transition: 0.4s;
      }
      svg:hover {
        color: #fff;
        transition: 0.4s;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .robert-section {
    .robert-table {
      .gx-table {
        margin-top: 95px;
      }
      .gy-table {
        margin-top: 95px;
      }
    }
  }
}
